header nav ul li a,
header div > ul li p,
#about figcaption p,
section.videoArea h2,
section.expArea ul li *,
section.teamArea ul li figure figcaption dl *,
section.teamArea ul + p,
section.worksArea h2 a,
section.talkArea p > *,
section.contactArea form fieldset :not(:first-child, :last-child)::placeholder,
footer div *{
  font-family: 'Roboto';
}

header div > ul li h2,
#about figcaption h2,
section.expArea h2,
section.expArea > p,
section.teamArea h2,
section.teamArea h2 + p,
section.worksArea h2,
section.talkArea p,
section.contactArea form fieldset legend,
section.contactArea div h3{
  font-family: 'Playfair Display'; 
} 
a{
  text-decoration: none;
}
ul, ol{
  list-style: none;
}
.btn_more{
  font-family: 'Hammersmith One'; font-size: 16px; font-weight: 400;
  color: #00e0d0; border: 1px solid #00e0d0; box-sizing: border-box;
  line-height: 35px; display: block; text-align: center;
}
/* desktop */
hr{
  width: 50px; margin: 0 auto 45px; 
}
@media screen and (min-width:768px) and (max-width:1279px){
  #about,
  section.expArea,
  section.contactArea,
  footer > div{
    max-width: 940px; margin: 0 auto; padding: 70px 0;
  }
  /* header */
  header{
    background: url('../images/bg_01.png') left top / cover no-repeat; padding: 15px 0 70px;
  }
  header div{
    /* background-color: blue; */
    max-width: 940px; margin: 0 auto; position: relative; left: 0; top: 0;
  }
  header div > ul{
    text-align: center;
  }
  header div > ul li h2{
    background: url('../images/border.png') center bottom no-repeat;
    padding-bottom: 25px; box-sizing: border-box;
    font-size: 32px; font-weight: 900; color: white; margin-bottom: 25px;
  }
  header div > ul li p{
    max-width: 780px; margin: 0 auto; font-size: 14px; font-weight: 300; color: white; line-height: 24px; margin-bottom: 50px;
  }
  header div h1{
    max-width: 128px;
  }
  header div h1 *{
    display: block;
  }
  header div h1 a img{
    width: 100% 
  }
  header div nav{
    /* background-color: aqua;  */
    position: absolute; right: 0; top: 0; width: 80%; text-align: right; line-height: 50px;
  }
  header div nav ul li{
    display: inline-block; 
  }
  header div nav ul li:not(:first-of-type){
    margin-left: 2.65%;
  }
  header div nav ul li a{
    display: block; font-size: 13px; font-weight: 800; color: white;
  }
  header div nav ul li a.active,
  header div nav ul li a:hover{
   color: #00e0d0;
  }
  header div > ul{
    padding-top: 165px;
  }
  header div > ul li a.btn_more{
    display: block; margin: 0 auto; max-width: 120px; margin-bottom: 130px;
  }
  header div ol{
    text-align: center;
  }
  header div ol li{
    display: inline-block;
  }
  header div ol li a{
    display: block; width: 10px; height: 10px; text-indent: -9999px; border: 1px solid white; border-radius: 5px; box-sizing: border-box;
  }
  header div ol li a.active,
  header div ol li a:hover{
    background-color: #00e0d0; border-color: #00e0d0;
  }

  /* footer */
  footer{
    background: url('../images/bg_5.png') left top / cover no-repeat;
  }
  footer > div div h2{
    font-size: 15px; font-weight: 900; color: white; line-height: 50px;
  }
  footer > div div:first-child p{
    font-size: 14px; font-weight: 300; color: white; line-height: 26px;
  }
  footer > div:after{
    display: block; clear: both; content: '';
  }
  footer > div div:not(:last-of-type){
    width: 31%; float: left; margin: 0 0 70px 3.5%;
  }
  footer > div div:first-of-type{
    margin-left: 0;
  }
  footer > div div:nth-child(2) h2,
  footer > div div:nth-child(3) h2{
    margin-bottom: 20px;
  }
  footer > div div address{
    font-style: normal; color: white; font-weight: 300; font-size: 14px;
    line-height: 26px;
  }
  footer > div div address span{
    background-position: left 5px; background-repeat: no-repeat;
    padding-left: 30px; box-sizing: border-box; display: block;
  }
  footer > div div address span:first-of-type{
    background-image: url('../images/bul_map.png'); margin-bottom: 15px; 
  }
  footer > div div address span:last-of-type{
    background-image: url('../images/bul_phone.png') ;
  }
  footer > div div address span:last-of-type a{
    color: white;
  }
  footer > div div:nth-of-type(3) form input{
    box-sizing: border-box; margin-bottom: 25px;
  }
  footer > div div:nth-of-type(3) form input[type='email']{
    float: left; width: 70%; padding: 15px; background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.75);
  }
  footer > div div:nth-of-type(3) form input[type='email']::placeholder{
    color: rgba(255, 255, 255, 0.75); font-weight: 300;
  }
  footer > div div:nth-of-type(3) form input[type='submit']{
    width: 25%; margin-left: 5%; text-indent: -9999px; border: none; line-height: 46px;
    background: url('../images/btn_summit.png') no-repeat center rgba(255, 255, 255, 0.5);
  }
  footer div > div:nth-of-type(3) ul{
    clear: left;
  }
  footer div > div:nth-of-type(3) ul li{
    display: inline-block; width: 35px; line-height: 35px; 
  }
  footer div > div:nth-of-type(3) ul li:not(:first-of-type){
    margin-left: 1.5%;
  }
  footer div > div:nth-of-type(3) ul li a{
    display: block; background-size: contain; background-repeat: no-repeat; text-indent: -9999px;
  }
  footer div > div:nth-of-type(3) ul li:nth-of-type(1) a{background-image: url('../images/ico_sns_01.png');}
  footer div > div:nth-of-type(3) ul li:nth-of-type(2) a{background-image: url('../images/ico_sns_02.png');}
  footer div > div:nth-of-type(3) ul li:nth-of-type(3) a{background-image: url('../images/ico_sns_03.png');}
  footer div > div:nth-of-type(3) ul li:nth-of-type(4) a{background-image: url('../images/ico_sns_04.png');}
  footer div > div:nth-of-type(3) ul li:nth-of-type(5) a{background-image: url('../images/ico_sns_05.png');}
  footer div > div:nth-of-type(3) ul li:nth-of-type(6) a{background-image: url('../images/ico_sns_06.png');}
  footer div > div:last-child{
    color: white; font-size: 14px; font-weight: 400;
    clear: left; font-weight: 400; 
  }
  footer div > div:last-child a{
    color: white; display: inline-block; 
  }
  footer div > div:last-child a:not(:first-child){
    margin-left: 30px;
  }

  footer div > div:last-child p{
    float: right;
  }
  /* footer */
}

@media screen and (min-width:1280px){
  #about,
  section.expArea,
  section.contactArea,
  footer > div{
    max-width: 940px; margin: 0 auto; padding: 70px 0;
  }
  /* header */
  header{
    background: url('../images/bg_01.png') left top / cover no-repeat; padding: 15px 0 70px;
  }
  header div{
    /* background-color: blue; */
    max-width: 940px; margin: 0 auto; position: relative; left: 0; top: 0;
  }
  header div > ul{
    text-align: center;
  }
  header div > ul li h2{
    background: url('../images/border.png') center bottom no-repeat;
    padding-bottom: 25px; box-sizing: border-box;
    font-size: 32px; font-weight: 900; color: white; margin-bottom: 25px;
  }
  header div > ul li p{
    max-width: 780px; margin: 0 auto; font-size: 14px; font-weight: 300; color: white; line-height: 24px; margin-bottom: 50px;
  }
  header div h1{
    max-width: 128px;
  }
  header div h1 *{
    display: block;
  }
  header div h1 a img{
    width: 100% 
  }
  header div nav{
    /* background-color: aqua;  */
    position: absolute; right: 0; top: 0; width: 80%; text-align: right; line-height: 50px;
  }
  header div nav ul li{
    display: inline-block; 
  }
  header div nav ul li:not(:first-of-type){
    margin-left: 2.65%;
  }
  header div nav ul li a{
    display: block; font-size: 13px; font-weight: 800; color: white;
  }
  header div nav ul li a.active,
  header div nav ul li a:hover{
   color: #00e0d0;
  }
  header div > ul{
    padding-top: 165px;
  }
  header div > ul li a.btn_more{
    display: block; margin: 0 auto; max-width: 120px; margin-bottom: 130px;
  }
  header div ol{
    text-align: center;
  }
  header div ol li{
    display: inline-block;
  }
  header div ol li a{
    display: block; width: 10px; height: 10px; text-indent: -9999px; border: 1px solid white; border-radius: 5px; box-sizing: border-box;
  }
  header div ol li a.active,
  header div ol li a:hover{
    background-color: #00e0d0; border-color: #00e0d0;
  }

  /* footer */
  footer{
    background: url('../images/bg_5.png') left top / cover no-repeat;
  }
  footer > div div h2{
    font-size: 15px; font-weight: 900; color: white; line-height: 50px;
  }
  footer > div div:first-child p{
    font-size: 14px; font-weight: 300; color: white; line-height: 26px;
  }
  footer > div:after{
    display: block; clear: both; content: '';
  }
  footer > div div:not(:last-of-type){
    width: 31%; float: left; margin: 0 0 70px 3.5%;
  }
  footer > div div:first-of-type{
    margin-left: 0;
  }
  footer > div div:nth-child(2) h2,
  footer > div div:nth-child(3) h2{
    margin-bottom: 20px;
  }
  footer > div div address{
    font-style: normal; color: white; font-weight: 300; font-size: 14px;
    line-height: 26px;
  }
  footer > div div address span{
    background-position: left 5px; background-repeat: no-repeat;
    padding-left: 30px; box-sizing: border-box; display: block;
  }
  footer > div div address span:first-of-type{
    background-image: url('../images/bul_map.png'); margin-bottom: 15px; 
  }
  footer > div div address span:last-of-type{
    background-image: url('../images/bul_phone.png') ;
  }
  footer > div div address span:last-of-type a{
    color: white;
  }
  footer > div div:nth-of-type(3) form input{
    box-sizing: border-box; margin-bottom: 25px;
  }
  footer > div div:nth-of-type(3) form input[type='email']{
    float: left; width: 70%; padding: 15px; background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.75);
  }
  footer > div div:nth-of-type(3) form input[type='email']::placeholder{
    color: rgba(255, 255, 255, 0.75); font-weight: 300;
  }
  footer > div div:nth-of-type(3) form input[type='submit']{
    width: 25%; margin-left: 5%; text-indent: -9999px; border: none; line-height: 46px;
    background: url('../images/btn_summit.png') no-repeat center rgba(255, 255, 255, 0.5);
  }
  footer div > div:nth-of-type(3) ul{
    clear: left;
  }
  footer div > div:nth-of-type(3) ul li{
    display: inline-block; width: 35px; line-height: 35px; 
  }
  footer div > div:nth-of-type(3) ul li:not(:first-of-type){
    margin-left: 1.5%;
  }
  footer div > div:nth-of-type(3) ul li a{
    display: block; background-size: contain; background-repeat: no-repeat; text-indent: -9999px;
  }
  footer div > div:nth-of-type(3) ul li:nth-of-type(1) a{background-image: url('../images/ico_sns_01.png');}
  footer div > div:nth-of-type(3) ul li:nth-of-type(2) a{background-image: url('../images/ico_sns_02.png');}
  footer div > div:nth-of-type(3) ul li:nth-of-type(3) a{background-image: url('../images/ico_sns_03.png');}
  footer div > div:nth-of-type(3) ul li:nth-of-type(4) a{background-image: url('../images/ico_sns_04.png');}
  footer div > div:nth-of-type(3) ul li:nth-of-type(5) a{background-image: url('../images/ico_sns_05.png');}
  footer div > div:nth-of-type(3) ul li:nth-of-type(6) a{background-image: url('../images/ico_sns_06.png');}
  footer div > div:last-child{
    color: white; font-size: 14px; font-weight: 400;
    clear: left; font-weight: 400; 
  }
  footer div > div:last-child a{
    color: white; display: inline-block; 
  }
  footer div > div:last-child a:not(:first-child){
    margin-left: 30px;
  }

  footer div > div:last-child p{
    float: right;
  }
  /* footer */
}