@media screen and (min-width:768px) and (max-width:1279px){
  /* about */
  #about:after{
    display: block; content: ''; clear: both;
  }
  #about img, #about figcaption{
    float: left; 
  }
  #about img{
    max-width: 235px; width: 25%;
  }
  #about figcaption{
    margin-left: 10%; width: 65%;
  }
  #about figcaption h2{
    font-size: 22px; font-weight: 700; color: #413d4b; margin-bottom: 25px;
  }
  #about figcaption p{
    font-size: 14px; font-weight: 000; color: rgba(65, 61, 75, 0.75); line-height: 24px; margin-bottom: 30px;
  }
  #about figcaption a.btn_more{
    max-width: 120px;
  }

  /* vedioArea */
  section.videoArea{
    background: url('../images/bg_02.png') left top / cover no-repeat; 
    padding: 200px 0; text-align: center;
  }
  section.videoArea a{
    display: inline-block; border: 3px solid white; width: 100px; height: 100px; border-radius: 50px; margin-bottom: 35px; color: white; font-size: 45px; padding: 22px 0 0 10px; box-sizing: border-box;
  }
  section.videoArea h2{
    font-size: 16px; color: white; 
  }

  /* expArea */
  section.expArea{
    text-align: center;
  }
  section.expArea h2{
    font-size: 22px; font-weight: 700; color: #413d4b; margin-bottom: 12px;
  }
  section.expArea > p{
    font-size: 14px; font-weight: 400; color: rgba(65, 61, 75, 0.75); margin-bottom: 20px;
  }
  section.expArea ul li h3{
    font-size: 14px; font-weight: 900; color: #413d4b; margin-bottom: 20px;
  } 
  section.expArea ul li p{
    font-size: 14px; font-weight: 300; color: rgba(65, 61, 75, 0.75); max-width: 250px; margin: 0 auto; line-height: 22px;
  } 
  section.expArea ul:after{
  display: block; content: ''; clear: both;
  }
  section.expArea ul li{
    float: left; width: 33.33%; background-position: center 40px; background-repeat: no-repeat; padding: 120px 0 40px; box-sizing: border-box;
  }
  section.expArea ul li:not(:nth-of-type(n):nth-of-type(-n+3)){
    border-top: 1px solid rgba(0,0,0,0.2);
  }
  section.expArea ul li:not(:nth-of-type(3n)){
    border-right: 1px solid rgba(0,0,0,0.2);
  }
  section.expArea ul li:nth-of-type(1){background-image: url('../images/ico_01.png');}
  section.expArea ul li:nth-of-type(2){background-image: url('../images/ico_02.png');}
  section.expArea ul li:nth-of-type(3){background-image: url('../images/ico_03.png');}
  section.expArea ul li:nth-of-type(4){background-image: url('../images/ico_04.png');}
  section.expArea ul li:nth-of-type(5){background-image: url('../images/ico_05.png');}
  section.expArea ul li:nth-of-type(6){background-image: url('../images/ico_06.png');}

  /* teamArea */
  section.teamArea{
    background: url('../images/bg_03.png') left top / cover no-repeat; text-align: center; padding: 70px 0;
  }
  section.teamArea h2{
    font-size: 22px; font-weight: 700; color: white; margin-bottom: 12px;
  }
  section.teamArea > p{
    font-size: 14px; font-weight: 400; color: white; margin-bottom: 20px;
  }
  section.teamArea ul li figure figcaption dl dt{
    font-size: 14px; font-weight: 700; color: white; margin-bottom: 12px;
  }
  section.teamArea ul li figure figcaption dl dd{
    font-size: 13px; font-weight: 300; color: white;
  }
  section.teamArea ul{
    margin: 0 auto; max-width: 940px; margin-bottom: 70px;
  }
  section.teamArea ul:after{
    display: block; content: ''; clear: both;
  }
  section.teamArea ul li{
    float: left; width: 23.5%; display: block;
  }
  section.teamArea ul li:not(:first-child){
    margin-left: 2%;
  }
  section.teamArea ul li figure{
    background: url('https://placehold.co/220x230') center top / contain no-repeat; padding-top: 230px;
  }
  section.teamArea ul li figure figcaption{
  border: 1px solid rgba(255,255,255,0.2); box-sizing: border-box; padding: 20px;
  }
  section.teamArea ul + p{
    font-size: 14px; font-weight: 300; color: white; margin-bottom: 25px;
  }
  section.teamArea a.btn_more{
    max-width: 140px; margin: 0 auto;
  }

  /* worksArea */
  section.worksArea{
    padding: 70px 0;
  }
  section.worksArea h2{
    max-width: 940px; margin: 0 auto 70px; color: #413d4b; font-size: 22px; 
  }
  section.worksArea h2:after,
  section.worksArea ul:after{
    display: block; content: ''; clear: both;
  }
  section.worksArea h2 a{
    float: right; font-size: 14px; line-height: 22px; font-weight: 300; color: #413d4b; 
  }
  section.worksArea ul{
    margin-bottom: 70px;
  }
  section.worksArea ul li{
    float: left; width: 16.66%;
  }
  section.worksArea ul li *{
    display: block;
  }
  section.worksArea ul li a img{
    width: 100%;
  }
  section.worksArea a.btn_more{
    max-width: 120px; margin: 0 auto;
  }

  /* talkArea */
  section.talkArea{
    background: url('../images/bg_04.png') left top / cover no-repeat; padding: 70px 0; text-align: center;
  }
  section.talkArea h2{
    display: none;
  }
  section.talkArea p{
    background: url('../images/quote.png') center top no-repeat; 
    max-width: 750px; margin: 0 auto; font-size: 16px; font-weight: 400; color: rgba(255,255,255,0.85); padding-top: 70px; line-height: 26px;
  }
  section.talkArea p > *{
    display: block; 
  }
  section.talkArea p strong{
    font-size: 14px; font-weight: 700; color: rgba(255,255,255,0.85); padding-top: 40px; 
  }
  section.talkArea p span{
  font-size: 13px; font-weight: 300; color: rgba(255,255,255,0.85);
  }
  section.talkArea div ul{
    display: inline-block; vertical-align: middle; padding: 0 30px; 
  }
  section.talkArea ul:after{
    display: block; content: ''; clear: both;
  }
  section.talkArea div > a{
    color: rgba(255,255,255,0.5); font-size: 22px;
  }
  section.talkArea div ul li{
    float: left; width: 19%; 
  }
  section.talkArea div ul li:not(:first-of-type){
    margin-left: 1.25%;
  }
  section.talkArea div ul li *{
    display: block; 
  }
  section.talkArea div ul li a img{
    width: 100%;
  }
  section.talkArea div ul li:not(:nth-child(3)) a{
    width: 45px; height: 45px;
  }
  section.talkArea div ul li:nth-child(3) a,
  section.talkArea div ul li a:hover{
    width: 70px; height: 70px;
  }

  /* contactArea */
  section.contactArea:after{
    display: block; content: ''; clear: both;
  }
  section.contactArea h2{
    display: none;
  }
  section.contactArea form fieldset legend,
  section.contactArea div h3{
    font-size: 22px; font-weight: 600; color: #413d4b; margin-bottom: 35px;
  }
  section.contactArea form fieldset,
  section.contactArea div{
    float: left;
  }
  section.contactArea form fieldset{
    width: 49%; 
  }
  section.contactArea div{
    width: 41%; margin-left: 10%;
  }
  section.contactArea form fieldset input{
    display: block; width: 100%;
  }
  section.contactArea form fieldset input.btn_more{
    max-width: 120px; background-color: transparent;
  }
  section.contactArea form fieldset :not(:first-child, :last-child){
    margin-bottom: 20px; border: 1px solid rgba(0,0,0,0.2); box-sizing: border-box; padding: 15px;
  }
  section.contactArea form fieldset :not(:first-child, :last-child)::placeholder{
    font-size: 14px; font-weight: 300; color: rgba(65, 61, 75, 0.5); 
  }
  section.contactArea form fieldset textarea{
    resize: none; width: 100%; 
  }
  section.contactArea ul:after{
    display: block; content: ''; clear: both;
  }
  section.contactArea div ul li{
    float: left; width: 50%;
  }

}
/* desktop */
@media screen and (min-width:1280px){
  /* about */
  #about:after{
    display: block; content: ''; clear: both;
  }
  #about img, #about figcaption{
    float: left; 
  }
  #about img{
    max-width: 235px; width: 25%;
  }
  #about figcaption{
    margin-left: 10%; width: 65%;
  }
  #about figcaption h2{
    font-size: 22px; font-weight: 700; color: #413d4b; margin-bottom: 25px;
  }
  #about figcaption p{
    font-size: 14px; font-weight: 000; color: rgba(65, 61, 75, 0.75); line-height: 24px; margin-bottom: 30px;
  }
  #about figcaption a.btn_more{
    max-width: 120px;
  }

  /* vedioArea */
  section.videoArea{
    background: url('../images/bg_02.png') left top / cover no-repeat; 
    padding: 200px 0; text-align: center;
  }
  section.videoArea a{
    display: inline-block; border: 3px solid white; width: 100px; height: 100px; border-radius: 50px; margin-bottom: 35px; color: white; font-size: 45px; padding: 22px 0 0 10px; box-sizing: border-box;
  }
  section.videoArea h2{
    font-size: 16px; color: white; 
  }

  /* expArea */
  section.expArea{
    text-align: center;
  }
  section.expArea h2{
    font-size: 22px; font-weight: 700; color: #413d4b; margin-bottom: 12px;
  }
  section.expArea > p{
    font-size: 14px; font-weight: 400; color: rgba(65, 61, 75, 0.75); margin-bottom: 20px;
  }
  section.expArea ul li h3{
    font-size: 14px; font-weight: 900; color: #413d4b; margin-bottom: 20px;
  } 
  section.expArea ul li p{
    font-size: 14px; font-weight: 300; color: rgba(65, 61, 75, 0.75); max-width: 250px; margin: 0 auto; line-height: 22px;
  } 
  section.expArea ul:after{
  display: block; content: ''; clear: both;
  }
  section.expArea ul li{
    float: left; width: 33.33%; background-position: center 40px; background-repeat: no-repeat; padding: 120px 0 40px; box-sizing: border-box;
  }
  section.expArea ul li:not(:nth-of-type(n):nth-of-type(-n+3)){
    border-top: 1px solid rgba(0,0,0,0.2);
  }
  section.expArea ul li:not(:nth-of-type(3n)){
    border-right: 1px solid rgba(0,0,0,0.2);
  }
  section.expArea ul li:nth-of-type(1){background-image: url('../images/ico_01.png');}
  section.expArea ul li:nth-of-type(2){background-image: url('../images/ico_02.png');}
  section.expArea ul li:nth-of-type(3){background-image: url('../images/ico_03.png');}
  section.expArea ul li:nth-of-type(4){background-image: url('../images/ico_04.png');}
  section.expArea ul li:nth-of-type(5){background-image: url('../images/ico_05.png');}
  section.expArea ul li:nth-of-type(6){background-image: url('../images/ico_06.png');}

  /* teamArea */
  section.teamArea{
    background: url('../images/bg_03.png') left top / cover no-repeat; text-align: center; padding: 70px 0;
  }
  section.teamArea h2{
    font-size: 22px; font-weight: 700; color: white; margin-bottom: 12px;
  }
  section.teamArea > p{
    font-size: 14px; font-weight: 400; color: white; margin-bottom: 20px;
  }
  section.teamArea ul li figure figcaption dl dt{
    font-size: 14px; font-weight: 700; color: white; margin-bottom: 12px;
  }
  section.teamArea ul li figure figcaption dl dd{
    font-size: 13px; font-weight: 300; color: white;
  }
  section.teamArea ul{
    margin: 0 auto; max-width: 940px; margin-bottom: 70px;
  }
  section.teamArea ul:after{
    display: block; content: ''; clear: both;
  }
  section.teamArea ul li{
    float: left; width: 23.5%; display: block;
  }
  section.teamArea ul li:not(:first-child){
    margin-left: 2%;
  }
  section.teamArea ul li figure{
    background: url('https://placehold.co/220x230') center top / contain no-repeat; padding-top: 230px;
  }
  section.teamArea ul li figure figcaption{
  border: 1px solid rgba(255,255,255,0.2); box-sizing: border-box; padding: 20px;
  }
  section.teamArea ul + p{
    font-size: 14px; font-weight: 300; color: white; margin-bottom: 25px;
  }
  section.teamArea a.btn_more{
    max-width: 140px; margin: 0 auto;
  }

  /* worksArea */
  section.worksArea{
    padding: 70px 0;
  }
  section.worksArea h2{
    max-width: 940px; margin: 0 auto 70px; color: #413d4b; font-size: 22px; 
  }
  section.worksArea h2:after,
  section.worksArea ul:after{
    display: block; content: ''; clear: both;
  }
  section.worksArea h2 a{
    float: right; font-size: 14px; line-height: 22px; font-weight: 300; color: #413d4b; 
  }
  section.worksArea ul{
    margin-bottom: 70px;
  }
  section.worksArea ul li{
    float: left; width: 16.66%;
  }
  section.worksArea ul li *{
    display: block;
  }
  section.worksArea ul li a img{
    width: 100%;
  }
  section.worksArea a.btn_more{
    max-width: 120px; margin: 0 auto;
  }

  /* talkArea */
  section.talkArea{
    background: url('../images/bg_04.png') left top / cover no-repeat; padding: 70px 0; text-align: center;
  }
  section.talkArea h2{
    display: none;
  }
  section.talkArea p{
    background: url('../images/quote.png') center top no-repeat; 
    max-width: 750px; margin: 0 auto 45px; font-size: 16px; font-weight: 400; color: rgba(255,255,255,0.85); padding-top: 70px; line-height: 26px;
  }
  section.talkArea p *{
    display: block; 
  }
  section.talkArea p strong{
    font-size: 14px; font-weight: 700; margin-top: 40px; 
  }
  section.talkArea p span{
    font-size: 13px; font-weight: 300; color: rgba(255,255,255,0.85);
  }
  section.talkArea div{
    background-color: aqua;
  }
  section.talkArea div > *{
    display: inline-block; vertical-align: middle;
  }
  section.talkArea div a{
    color: rgba(255,255,255,0.85); font-size: 22px;
  }
  section.talkArea div ul{
    background-color: blue;
  }


  /* contactArea */
  section.contactArea:after{
    display: block; content: ''; clear: both;
  }
  section.contactArea h2{
    display: none;
  }
  section.contactArea form fieldset legend,
  section.contactArea div h3{
    font-size: 22px; font-weight: 600; color: #413d4b; margin-bottom: 35px;
  }
  section.contactArea form fieldset,
  section.contactArea div{
    float: left;
  }
  section.contactArea form fieldset{
    width: 49%; 
  }
  section.contactArea div{
    width: 41%; margin-left: 10%;
  }
  section.contactArea form fieldset input{
    display: block; width: 100%;
  }
  section.contactArea form fieldset input.btn_more{
    max-width: 120px; background-color: transparent;
  }
  section.contactArea form fieldset :not(:first-child, :last-child){
    margin-bottom: 20px; border: 1px solid rgba(0,0,0,0.2); box-sizing: border-box; padding: 15px;
  }
  section.contactArea form fieldset :not(:first-child, :last-child)::placeholder{
    font-size: 14px; font-weight: 300; color: rgba(65, 61, 75, 0.5); 
  }
  section.contactArea form fieldset textarea{
    resize: none; width: 100%; 
  }
  section.contactArea ul:after{
    display: block; content: ''; clear: both;
  }
  section.contactArea div ul li{
    float: left; width: 50%;
  }

}