body{
 margin: 0; padding: 10% 5%;
}
aside{
  width: 50%; float: left;
}
aside footer{
  color: #8a2be2; font-weight: 600;
}
p{
  font-size: 12px;
}
P strong{
  display: block;
}
aside:nth-of-type(2) ul{
  list-style: none;
}
aside:nth-of-type(2) ul li{
  position: relative; padding: 3% 20% 0 5%; transition: all 1s linear; text-align: right; overflow: hidden;
}
aside:nth-of-type(2) ul li p{
  opacity: 0; height: 0; transition: 2s;
}
aside:nth-of-type(2) ul li:hover p{
  opacity: 1; height: 250px;
}
aside:nth-of-type(2) a:before{
  content: '+';
}
aside:nth-of-type(2) ul li:hover a:before{
  content: '>';
}
aside:nth-of-type(2) a{
  color: #ffffff; position: absolute; right: 5%; top: 10%; text-decoration: none;
}
aside:nth-of-type(2) ul li:hover a{
  color: #000000;
}
aside:nth-of-type(2) ul li:nth-child(1){background-color: #ff0000;}
aside:nth-of-type(2) ul li:nth-child(2){background-color: #ffa500;}
aside:nth-of-type(2) ul li:nth-child(3){background-color: #ffff00;}
aside:nth-of-type(2) ul li:nth-child(4){background-color: #008000;}
aside:nth-of-type(2) ul li:nth-child(5){background-color: #0000ff;}
aside:nth-of-type(2) ul li:nth-child(6){background-color: #000080;}
aside:nth-of-type(2) ul li:nth-child(7){background-color: #800080;}