.durationEX1{
    width: 100px; height: 100px; background-color: #ff0; padding: 0px; border: 1px solid #f00;
    /* transition-duration: 1s; */
    transition: all 1s ease-out;
}
.durationEX1:hover{
    width: 100px; height: 100px; background-color: #f0f; padding: 0px; border: 1px solid #00f;
}
.durationEX2{
    width: 200px; height: 200px; font-size: 16px; background-color: #ff6a00;
    padding: 30px; line-height: 32px;
    transition-duration: 2s;
    margin-bottom: 10%;
}
.durationEX2:hover{
    padding: 0px; font-size: 0px; line-height: 0px;
}
.durationEX2:active{
    padding: 30px; font-size: 16px; line-height: 32px;
}
.durationEX3{
    position: relative; height: 23px; background-color: #808080; margin: 50px 0;
}
.durationEX3 .movespan{
    background-color: #000; width: 3%; height: 23px; position: absolute; left: 0; top: 0;
    transition-duration: 2s;
}
.durationEX3:hover .movespan{
    left: 97%;
}
.rainbow{
    width: 50%; height: 300px;
    position: relative; left: 0; top: 0px;
    transition: all 2s;   
    border-width: 5px; border-style: solid; border-color: red orange yellow greenyellow;
}
.rainbow:hover{
    left: 25%; top: 10px; color: aqua;
    border-color: green blue violet purple;
}
