body{
    text-align: center; font-family: "Roboto Condensed", sans-serif;
}
h1{
    background-color: #add8e6;
}
article{
    background-color: #f08080; padding: 10px;
}
article h2{
    padding: 10px; font-size: 16px; background-color: #90ee90;
}
article p{
    padding: 10px; font-size: 12px; line-height: 18px; background-color: #d3d3d3;
}