body{
    margin: 0;
}
article{
    margin-bottom: 30px;
}
article::after{
    content: ''; display: block; clear: both;
}
article > :first-child{
    font-size: 200px; width: 40%; line-height: 150px;  
    background-color: gray; color: white;
}
article:nth-of-type(2n+1) > :first-child{
    margin: 0 0 10px 20px; text-align: right; float: right;
}
article:nth-of-type(2n) > :first-child{
    margin: 0 20px 10px 0; float: left;
}
/* article p :first-child:not(mark){
    text-decoration: underline; color: blue;
}
article p:nth-child(2) :first-child{
    background-color: transparent; color: blue;
} */
article p *{
    background-color: transparent; color: blue;
}
article p *:not(mark){
    text-decoration: underline;
}