body{
    font-family: 'Lato';
}
.btn{
    display: block; padding: 10px 16px; box-sizing: border-box;
    background-color: #019edb; border-radius: 18px; max-width: 124px;
    font-size: 15px; font-weight: 700; color: white;
}
footer > div div b{
    font-size: 64px; font-weight: 900; color: #019edb;
    transform: rotate(-45deg);
}

footer > div div{
    width: 130px; height: 130px; 
    background-color: rgba(0, 0, 0, 0.5);
    transform: rotate(45deg);
    display: flex; flex-direction: column; justify-content: center; align-items: center;
}
#chooseArea > div:last-of-type h2,
#workArea h2,
#testArea h2,
footer > div h2{
    font-size: 38px; font-weight: 700; color: white; text-align: center;
}

#chooseArea > div:last-of-type span,
#workArea span,
#testArea span{
    display: block; text-align: center;
    font-size: 24px; font-weight: 700; color: white;
}

/* desktop */
header div,
#chooseArea > div:last-of-type,
#porfoloArea > div:last-of-type,
#workArea > *:not(ul),
#testArea > *,
#snsArea > div,
footer > div{
    max-width: 1170px; margin: 0 auto;
}

header{
    position: absolute; left: 0; top: 0; width: 100%; background: transparent; z-index: 1;
}
header div{
    padding-top: 16px; display: flex; justify-content: space-between; align-items: center;
}
header div h1{
    max-width: 192px;
}
header div h1 > *{
    display: block;
}
header div h1 a img{
    width: 100%;
}
header div nav{
    width: 50%; margin-left: 32%;
}
header div nav ul{
    max-width: 510px; display: flex; justify-content: space-between; 
}
header div nav ul li a{
    display: block; font-size: 13px; font-weight: 00; color: #373636;
}
/* header Fin */
footer{
    background: url('../images/bg_05.png') left top / cover no-repeat;
}
footer > div{
    padding-top: 60px; text-align: center;
}
footer > div div{
    margin: 0 43%; position: relative;
}
footer > div h2{
    position: absolute; left: 0; right: 0;
}
footer > div ul{
    padding-top: 100px; margin-bottom: 66px;
    display: flex; justify-content: space-between; align-items: center;
}
footer > div ul li figure{
    width: 300px;  
}
footer > div ul li figure:after{
  content: ''; display: block; clear: both;
}
footer > div ul li figure img{
    display: block; float: left;
}
footer > div ul li figure figcaption{
    padding: 10px 0 0 20px; color: white; text-align: left;
    max-width: 200px; float: left;
}
footer > div ul li figure figcaption h3{
    font-size: 17px; font-weight: 700;
    margin-bottom: 10px;
}
footer > div ul li figure figcaption a{
    font-size: 16px; font-weight: 400; color: white;
    line-height: 24px; display: block;
}
footer > div p{
    font-size: 17px; font-weight: 400; color: white; margin-bottom: 36px;
}
footer > div > a{
    display: block; padding: 32px 0 16px;
    font-size: 17px; font-weight: 400; color: white;
    background: url("../images/btn_top.png")center no-repeat;
}
/* footer Fin */
