body{
    background-color: #e4e5e7;
}

.mont{
    font-family: "Montserrat", sans-serif;
}

.crim{
    font-family: "Crimson Pro", serif;
}

input[type='radio'], input[type='checkbox']{
    display: none;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

/* 
    250423 Wed 
    global css 작성하기 전 가장 처음에 하는 작업
    > 시안에서 전체적으로 사용되는 태그에서 각각 사용하지 않을 것 같은 기본 속성을 찾아서 none을 해줌

    최근 나온 기능들일수록 브라우저 적응에 시간이 걸리기 때문에 보편화 되기까지 다소 시간이 걸림

    1170px의 가이드는 옛날 방식

    다양한 화면 크기(pc, tablet, mobile 등)에 따라 웹사이트가 잘 보이고 잘 작동하도록 만드는 것이 웹 퍼블리셔의 핵심 가치 중 하나나
    > 반응형에 대해 깊게 공부할 것
*/

/* 
전체 레이아웃 정렬 - .container { max-width + margin: 0 auto; + padding 좌우}
요소 간 간격 통일 - spacing scale (4px, 8px ..) 정의 후 class나 변수로 관리
    원래 label은 인라인이라서 너비 적용이 안 되는데 google에서 당겨올 때 inline-block 속성을 같이 주기 때문에 너비 적용이 가능해짐
*/

@media screen and (min-width:1280px){
    header > div, footer > div{ 
        max-width: 1170px; margin: 0 auto;
    }
    header{
        border-bottom: 1px solid #f0f2f7; background-color: white;
    }
    header > div:after{
        display: block; content: ''; clear: both;
    }
    header > div > *{
        float: left;
    }
    header > div label.material-icons{
        width: 5.12%; max-width: 60px; line-height: 90px; box-sizing: border-box; border-right: 1px solid #f0f2f7; display: block;
        /* float를 사용할 것이기 때문에 블럭으로 속성을 바꿔줌 */
    }
    header > div h1{
        width: 10.68%; max-width: 125px;
    }
    header > div h1 a{
        display: block; padding: 32px 0; text-align: right;
    }
    header > div h1 a img{
        width: 100%; max-width: 92px;
    }
    header > div nav{
        width: 54.7%;
    } 
    header > div nav ul{
        text-align: right;
    }
    header > div nav ul li{
        display: inline-block;
    }
    header > div nav ul li:not(:first-child){
        margin-left: 2.56%;
    }
    header > div nav ul li a{
        display: block; font-size: 14px; font-weight: 600; color: #343e5c; line-height: 90px;
    }
    /* 바깥쪽은 float로 처리하고 너비를 부여하면 쉽게 정리할 수 있음 */
    header > div div{
        width: 29.5%; font-size: 11px; text-align: right; color: #343e5c; line-height: 90px;
    }
    header > div div *:not(input){
        display: inline-block;
    }
    header > div div strong{ 
        padding-left: 25px; line-height: 18px; font-weight: 600;
        background: url('../images/bul_cart.png') left top / contain no-repeat;
    }
    header > div div span{
        line-height: 24px; margin-left: 5px; background-color: #e3e8f0; width: 24px; border-radius: 12px; text-align: center; font-weight: 400;
    }
    header > div div input[type='button']{
        margin-left: 25px; color: #343e5c; font-size: 11px; letter-spacing: 1px; background-color: transparent; border: 2px solid #f0f2f7; 
        border-radius: 16px; padding: 8px 15px; box-sizing: border-box; font-weight: 600; font-family: inherit;
        /* 왜 margin에 px을 사용하는지 
        부모공간에 여유가 있고, 환산하기에는 너무 적은 수치. 어차피 % 환상해도 inline-blcok이니까 */
        /* 가이드에 따라 미디어쿼리의 maxwidth를 잘 바꿔줘야함(이해 잘 안 감)  */
    }

    .paging{
        position: relative; clear: both; background-color: white; border-radius: 5px; 
        
/* 쌤 코드에는 페이저에 포지션과 클리어가 꼭 들어가있음 */
    }
    /* 이런 건 div 말고 클래스만 적어줘야 함 */
    .paging > a{
        position: absolute; top: 0; text-align: center; width: 16.66%;
        line-height: 90px; font-weight: 600; color: #3a405b;
        /* 이런 건 이미지로 제발 처리해라 안 그러면 쓸데없는 코드들을 쳐야함*/
    }
    .paging > a:first-of-type {
        left: 0; border-right: 1px solid #f0f2f7;
    }
    .paging > a:last-of-type {
        right: 0; border-left: 1px solid #f0f2f7;
    }
    .paging ol{
        text-align: center; padding: 20px 17%; box-sizing: border-box;
    }
    .paging ol li{
        display: inline-block;
    }
    .paging ol li a{
        display: block; width: 50px; line-height: 50px; border-radius: 25px; font-size: 14px; color: #3a405b; background-color: white;
        transition: box-shadow .3s ease-out;
    }
    .paging ol li a.active, .paging ol li a:hover{
        box-shadow: 0 5px 8px rgba(168, 172, 185,0.62); color: #b9bed1;
    }
    footer{
        padding: 70px 0; background-color: #222328; 
    }
    footer div:first-child{
        padding-bottom: 60px; border-bottom: 1px solid rgba(168, 172, 185, 0.165); margin-bottom: 50px;
    }
    footer div:first-child:after{ content: ''; display: block; clear: both; }
    footer div:first-child > *{
        float: left;
    }
    footer div:first-child h2{
        max-width: 92px;
    }
    footer div:first-child h2 img{
        width: 100%; display: block;
    }
    footer div:first-child ul{
        width: 55.3%; text-align: right;
    }
    footer div:first-child ul li{
        display: inline-block;
    }
    footer div:first-child ul li:not(:first-child){
        margin-left: 2.3%;
    }
    footer div:first-child ul li a{
        display: block; /* background-color: blue; */
        font-size: 14px; font-weight: 600; color: #ffffff;
    }
    footer div:first-child span{
        width: 33.4%; text-align: right;
    }
    footer div:first-child span a{
        width: 24px; height: 18px; background-size: contain; text-indent: -9999px;
        background-repeat: no-repeat; 
        /* display: inline-block; */ 
        /* 부모한테 텍스츠 얼라인을 주면 text-indent를 안 먹음 
            디스플레이를 꺼야 먹음 text-align: left;
            디스플레이 먼저 쳌 다음 텍스트 얼라인
        */
    }
    footer div:first-child span a:not(:first-of-type){
        margin-left: 1.37%;
    }
    footer div:first-child span a:nth-of-type(1){background-image: url('../images/sns_01.png');}
    footer div:first-child span a:nth-of-type(2){background-image: url('../images/sns_02.png');}
    footer div:first-child span a:nth-of-type(3){background-image: url('../images/sns_03.png');}
    footer div:last-child:after{ content: ''; display: block; clear: both; }
    footer div:last-child p{
        font-size: 10px; font-weight: 400; color: rgba(255, 255, 255, 0.3); width: 43.6%; max-width: 520px; line-height: 20px; font-style: italic; float: left;
    }
    footer div:last-child span{
        float: right; display: block;
    }
    footer div:last-child span a{
        font-size: 14px; letter-spacing: 1px; color: rgba(255, 255, 255, 0.3); line-height: 40px;
    }
    footer div:last-child span a:last-child{
        margin-left: 24px;
    }
}