@media screen and (min-width:1280px){
    header + nav{
        background-color: white;
    }
    header + nav div:after{
        content: ''; display: block; clear: both;
    }
    header + nav div > *{    
        float: left; 
        /* 인라인블럭은 복잡하니까 float를 잘 할 것 */
    }
    header + nav div ul{
        width: 80%;
    }
    header + nav div ul li:not(:first-child){
        margin-left: 2.3%;
    }
    header + nav div ul li:not(:last-child){
        float: left;
    }
    header + nav div ul li:last-child{
        float: right;
    }
    header + nav div ul li a{
        font-size: 11px; color: #b9bed1; letter-spacing: 1px;
        font-weight: 600; display: block; line-height: 55px;
    }
    header + nav div ul li a:hover,
    header + nav div ul li a.active{
        color: #343e5c;
    }
    header + nav div input[type='search']{
        width: 17%; margin-left: 3%; padding: 19px 2% 19px 4%; 
        border-width: 0 1px; border-style: none solid; border-color: #f0f2f7; 
        background: url('../images/bul_search.png') no-repeat 10% center;
        /* 퍼센트는 두 가지가 기준이 명확함 나를 기준으로 하는 건지 부모를 기준으로 하는 건지 */
        font-size: 14px; font-family: inherit; color: #343e5c;  font-weight: 600;
        /* 마진, 패딩이 번거롭게 들어가있음 */
        /* 인풋은 원래 신경쓸 게 많은데 그냥 받아들일 것
        쉬운 거 찾는 건 누구나 하니까 공부를 많이 할 것 */
        /* 좌측이 기본패딩인데 그게 우측에도 긍어강 ㅣㅆ는 것 근데 백그라운드 이미지가 들어가니까 */
        /* 부모가 너비를 가지고 있으면 자식과 자손도 그것을 기준으로 잡아야함 이해 잘 안 감 공부해볼 것*/
    }
    header + nav div input::placeholder{
        font-size: 13px; color: #b9bed1; font-weight: 600; 
    }

    /* sliderArea */
    section.slideArea{
        background-color: #1c1e23; 
    }
    section.slideArea h2{
        display: none;
    }
    section.slideArea div{
        max-width: 1400px; position: relative; margin: 0 auto;
    }
    section.slideArea div > a{
        display: block; width: 42px; line-height: 40px; border-radius: 21px; border: 2px solid rgba(255, 255, 255, 0.3); box-sizing: border-box; color: white; position: absolute; background-color: transparent; text-align: center; top: 49%; 
    }
    section.slideArea div > a.btn_Lslide{
        left: 11.8%; 
    }
    section.slideArea div > a.btn_Rslide{
        right: 11.8%;
    }
    section.slideArea div ol{
        position: absolute; bottom: 0; left: 48%; bottom: 6%; 
    } 
    section.slideArea div ol:after{ 
        display: block; clear: both; content: '';
    }
    section.slideArea div ol li{
        float: left;
    } 
    section.slideArea div ol li:not(:first-child){
        margin-left: 8px;
    } 
    section.slideArea div ol li a{
        display: block; border: 1px solid rgba(255, 255, 255, 0.3); text-indent: -9999px;
        width: 8px; height: 8px; border-radius: 4px; box-sizing: border-box;
    }
    section.slideArea div ol li a.active,
    section.slideArea div ol li a:hover{
        background-color: white;
    }
    section.slideArea div ul li figure img{
        display: block; width: 100%;
    }
    section.slideArea div ul li figure figcaption{
        width: 33.14%; max-width: 450px; position: absolute; top: 21.2%; left: 18%; color: white;
    }
    section.slideArea div ul li figure figcaption dl dt{
        font-weight: 900; font-size: 42px; margin-bottom: 20px; line-height: 50px;
    }
    section.slideArea div ul li figure figcaption dl dd{
        font-weight: 400; font-size: 16px; margin-bottom: 50px; line-height: 24px;
    }
    section.slideArea div ul li figure figcaption input[type='button']{
        background-color: #2754eb; padding: 12px 50px; color: white; font-size: 11px; font-weight: 600; border: none; border-radius: 25px;
    }
}